<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>sample</h1>
        <div class="full-screen">
            This is full screen.<br>
            It works correctly on local server, but it doesn't wokk after build (with Safari 14.0)
        </div>
    </body>
</html>

<style>
    .full-screen {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: aqua;
    }
</style>